* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #282C34;
    min-height: 100vh;
}

.white {
  color: white;
}

.container {
    /* max-width: 1070px; */
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 70px;
  background: #000000;
}

main {
  margin-top: 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > div > * {
  padding: 5px 10px;
  margin: 5px;
}

.nav > h1 {
  color: red;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.cards-container .title {
  flex-basis: 100%;
  text-align: center;
  color: red;
  margin: 1rem auto;
  text-decoration: underline;
}

.card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 5px;
    height: 300px;
    position: relative;
    background: rgb(46, 58, 70);
    overflow: hidden;
}

.card > * {
  margin: 0.1rem 0;
}

.card:hover img.poster {
  opacity: 0;
}

.card img.poster {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.card h3 {
    margin: 10px 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.grey {
    color: grey;
}

.card img.flagIcon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.card span.originalTitle {
  font-size: 14px;
}

.card > span.vote, .card > span.overview {
  font-size: 0.8rem;
}

.card > span.overview {
  overflow: hidden;
  text-overflow: ellipsis;
}
