/* Usable */

.white {
  color: white;
}

.subtitle {
  color: white;
  font-size: 1rem;
}

.grey {
  color: grey;
}

/* Layout */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background: #282C34;
  min-height: calc(100vh - 70px);
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 70px;
  background: #000000;
}

main {
  margin-top: 70px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > div > * {
  padding: 5px 10px;
  margin: 5px;
}

.nav > h1 {
  color: red;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.cards-container .title {
  flex-basis: 100%;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 200px;
  padding: 0.8rem;
  margin: 10px 5px;
  height: 300px;
  position: relative;
  background: rgb(46, 58, 70);
  overflow: hidden;
}

.card > * {
  margin: 0.1rem 0;
}

.card:hover img.poster {
  display: none;
}

.card img.poster {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.card img.flagIcon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.card span.originalTitle {
  font-size: 14px;
}

.card > span {
  font-size: 0.8rem;
}

.card > span.overview {
  position: relative;
  min-height: 50px;
  overflow: auto;
}
